<header>
	<a class="brand" href="http://www.codemash.org">
		<img src="/assets/images/codemash-icon.png" height="50" />
	</a>
	<nav>
		<div class="main">
			<a routerLink="/schedule">CodeMash</a>
		</div>
		<ul>
			<li><a routerLink="/schedule">Schedule</a></li>
			<li><a routerLink="/events">Events</a></li>
			<li><a routerLink="/presenters">Presenters</a></li>
			<li><a routerLink="/categories">Categories</a></li>
		</ul>
	</nav>
	<div class="profile">
		<div class="menu">
			<div class="pic"></div>
			<i class="drop-down fa fa-caret-down"></i>
		</div>
		<div class="schedule">
			<a routerLink="/user/schedule"><i class="fa fa-calendar"></i></a>
		</div>
	</div>
</header>