<h1>Schedule</h1>
<ul class="days">
	<i class="scroll fa fa-chevron-circle-left"></i>
	<li class="day">
		<h3>Tuesday, January 10th</h3>
		<div class="schedule">
			<table>
				<tr>
					<td class="time"><span>8:00am</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>9:00am</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>10:00am</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>11:00am</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>12:00pm</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>1:00pm</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>2:00pm</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>3:00pm</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>4:00pm</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>5:00pm</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
			</table>

			<a class="event" style="left: 91px; top: 4px; width: 140px; height: 164px" href="/time_slot">
				<span>10 events</span>
			</a>
			<div class="event" style="left: 243px; top: 46px; width: 140px; height: 80px">
				<span>KidzMash</span>
			</div>
			<div class="event" style="left: 91px; top: 171px; width: 140px; height: 38px">
				<span>Lunch</span>
			</div>
			<div class="event" style="left: 91px; top: 214px; width: 140px; height: 164px">
				<span>10 events</span>
			</div>
		</div>
	</li>
	<li class="day">
		<h3>Wednesday, January 11th</h3>
		<div class="schedule">
			<table>
				<tr>
					<td class="time"><span>8:00am</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>9:00am</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>10:00am</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>11:00am</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>12:00pm</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>1:00pm</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>2:00pm</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>3:00pm</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>4:00pm</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
				<tr>
					<td class="time"><span>5:00pm</span></td>
					<td class="space"></td>
					<td class="event-cell"></td>
					<td class="event-cell"></td>
				</tr>
			</table>

			<div class="event" style="left: 91px; top: 4px; width: 140px; height: 164px">
				<span>10 events</span>
			</div>
			<div class="event" style="left: 243px; top: 46px; width: 140px; height: 80px">
				<span>KidzMash</span>
			</div>
			<div class="event" style="left: 91px; top: 171px; width: 140px; height: 38px">
				<span>Lunch</span>
			</div>
			<div class="event" style="left: 91px; top: 214px; width: 140px; height: 164px">
				<span>10 events</span>
			</div>
		</div>
	</li>
	<i class="scroll fa fa-chevron-circle-right"></i>
</ul>